@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#questionContainerSimple {
  width: 100%;
  height:100%;
  display: grid;
  grid-template-rows:7% 32% 60% 1%;
  grid-template-columns: max(2%, 10px) auto max(2%, 10px);
}

.option_simple {
  display: block;
  position: relative;
  min-width: 100%;
  height: 10vh;
}

.option_simple .checkOut {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_simple .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 2.5vh;
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 5px solid transparent;
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
}

.option_simple .option_inner .name {
  user-select: none;
  color: white;
  text-align: center;
  font-size: 2vw;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.option_simple .checkOut:checked ~ .option_inner {
  border-color: blue;
  
}
.option_simple .checkOut:checked ~ .option_inner .name {
    color: blue;
  }
  @media screen and (min-width: 700px) {
    .option_simple{
        min-width: 50%;
        }
        #questionContainerSimple {
          width: 100%;
          height:100%;
          max-width: 1300px;
          display: grid;
          grid-template-rows:7% 52% 40% 1%;
          grid-template-columns: max(2%, 10px) auto max(2%, 10px);
        }


      }