@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#questionContainerBox {
  width: 100%;
  height:100%;
  max-width: 1300px;
  display: grid;
  grid-template-rows:7% 8% 84% 1%;
  grid-template-columns: max(2%, 10px) auto max(2%, 10px);
}
section.questionSection{
  grid-column-start: 2;
	grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
section.answerSection{
  grid-column-start: 2;
	grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.option_item {
  display: block;
  position: relative;
}

.option_item .checkOut {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 58px 40px;
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 5px solid transparent;
  position: relative;
}

.option_item .option_inner .name {
  user-select: none;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.option_item .checkOut:checked ~ .option_inner {
  border-color: blue;
  color: blue;
}

.option_item .option_inner .tickmark {
  position: absolute;
  top: 0;
  left: 0;
  border: 20px solid;
  border-color: blue transparent transparent blue;
  display: none;
}

.option_item .option_inner .tickmark:before {
  content: "";
  position: absolute;
  top: -18px;
  left: -18px;
  width: 15px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.option_item .checkOut:checked ~ .option_inner .tickmark {
  display: block;
}

@media screen and (min-width: 700px) {
  #questionContainerBox {
    width: 100%;
    height:100%;
    display: grid;
    grid-template-rows:10% 30% 60%;
    grid-template-columns: max(2%, 10px) auto max(2%, 10px);
    
  }
}