@import '../styles/config';

nav.navbar{
	position:absolute;
	left:0;
	top:0;
	width:100vw;
	z-index: 1000;
    display:flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    background-color: $secondary-color;
    padding:1.5% 1.5% 0 1.5%;
    
    border-radius:0 0 15px 15px;
}
#navbar-toggler{
	margin-right: 3%;
	background-color: $secondary-color;
	border: 1px solid transparent;
    outline: hidden;
	position: relative;
    top:0;
    right:0;
}
a.nav-link, a.navHeader{
    font: 400 calc(12px + 1.5vw) 'Berkshire Swash', Helvetica, sans-serif;
    background-color: $secondary-color;
    color: $primary-color;
	margin-right: 40px;
    text-decoration: none;
}


li.nav-item{
    list-style: none;
}

ul#navbarNav{
    width: 90%;
    background-color: $secondary-color;
    font: 400 20px/1 'Berkshire Swash', Helvetica, sans-serif;
}