@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rubik:wght@700&display=swap');
@import '~bootstrap/scss/bootstrap.scss';
@import './styles/config';

body {
	background-color: $background-color;
	font-family: 'Rubik', sans-serif;
	height:100vh;
	width:100vw;
}

header {
	background-color: $header-background-color;
}

h1 {
	color: $primary-color;
}
nav {
	background-color: $secondary-color;
}
// Class for login and signup cards for centering on screen
.card-container {
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	text-align: center;
}

// Customize bootstrap card styles
.card {
	border-radius: 10px;
	border: none;
	box-shadow: $card-shadow;

	.form-heading {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 80px;
		background-color: $tertiary-color;
		color: $primary-color;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border: none;
		font-size: 2rem;
	}

	.form-group {
		padding: 10px 10px 0px 10px;
	}

	// Big buttons for login and signup cards
	.big-btn {
		width: 100%;
		height: 80px;
		background-color: $secondary-color;
		color: $primary-color;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border: none;
		font-size: 2rem;
	}
}
nav.navbar{
	position:sticky;
	left:0;
	top:0;
	width:100vw;
	z-index: 1000;
}
a.nav-link, a.navHeader{
    font: 400 25px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    background-color: $secondary-color;
    color: $primary-color;
    padding: 8px;
}
.member-photo {
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }
div.cloudinary-button {
	background-color: $secondary-color;
	color: $primary-color;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px; 
  }
  div.cloudinary-button:hover :active {
	background: $menu-color-light
  }
@import './styles/media';
